*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h1{
    margin-bottom: 1rem;
}

div{
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid black;
}

li{
    list-style: none;
    font-size: 1.5rem;
    margin: 1rem;
    border-bottom: 1px solid gray;
}